*, *::before, *::after {
  box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #F5F7FB;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}


.loading {
    font-size: 3rem;
    text-align: center;
    margin-top: 50vh;
}

#root {
    padding: 0 16px;
}